<div class="terminal rounded left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents" style="max-width: 50vw">
      <h2>RemoraFish (My Capstone)</h2>
      <p>
        <a href="https://github.com/emwitth/capstone-frontend">Frontend Github Link</a>
      </p>
      <p>
        <a href="https://github.com/emwitth/capstone-backend">Backend Github Link</a>
      </p>
      <p>
        RemoraFish is a simple tool for visualizing network activity within a device.
        It was built using Python3 and Angular is built to run on Linux devices.
        It provides a view of network activity as a network graph 
        between nodes that represent programs and nodes that represent remote devices.
        As well, there is more functionality to dive deeper into the activity and hide elements.
        I will be a copy of my capstone paper here when it is finished (and I graduate).
      </p>
    </div>
  </div>
</div>

<div class="terminal rounded right">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents" style="max-width: 50vw">
        <h3>TwixTApp</h3>
        <p>
          <a href="https://github.com/emwitth/TWIXTapp">Github Link</a>
        </p>
        <p>
          Twixt is a game made in the 1960's that few people have heard of, but I love it.
          There exists an android app for it in the app store, but it is old and no longer works very well.
          I have taken it on myself to make a new one.
        </p>
    </div>
  </div>
</div>

<div class="terminal rounded left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents" style="max-width: 50vw">
      <h3>This Website</h3>
      <p>
        <a href="https://github.com/emwitth/witthun-site">Github Link</a>
      </p>
      <p>
        This website is built on Angular and it's hosted on a rasperry pi 3 I won during a coding competition in high school.
        The system to make the graph for my resume is pretty cool, and I also use similar code on my capstone.
        I have plans to create a module just for making this graph, which uses d3, easier to make.
      </p>
    </div>
  </div>
</div>

<div class="terminal rounded right">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
      <h3>My other less notable projects are...</h3>
      <ul>
        <li>
          <a href="https://github.com/emwitth/morriscare">The frontend for a simple webapp for a nursing agency.</a>
        </li>
        <li>
          An 
          <a href="https://github.com/emwitth/hotdraw">implementation of hotdraw</a> 
          based on this paper:
          <a href="dl.acm.org/doi/10.1145/3361149.3361185">doi 10.1145/3361149.3361185</a>
        </li>
        <li>A c-based chat server (unfinished).</li>
      </ul>
    </div>
  </div>
</div>

<div class="terminal rounded left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
      Check out other stuff on my github: <a class="btn" href="https://www.github.com/emwitth"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>
