<div class="terminal rounded">
  <div class="terminal-top rounded-top">xkcd 1969</div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
      <a href="https://xkcd.com/1969/">
        <img src="https://imgs.xkcd.com/comics/not_available.png"
        alt="This content is not available in your country."
        title="If my country ever picks a new national flag, this is on my shortlist for designs to argue for, but I think in the end I'll go with the green puzzle piece or broken image thumbnail.">
      </a> 
    </div>
  </div>
</div>