:root {
  --TEXT-COLOR: rgb(158, 168, 179);
}
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--TEXT-COLOR);
  background-color: rgb(40, 42, 45);
  overflow-x:hidden;
}

/* Styles for button colors */
.btn {
  color: var(--TEXT-COLOR);
}

.btn:hover {
  color: rgb(94, 237, 38);
}

/* Styles for the terminal 'container' elements. */
.terminal {
  margin-top: 10px;
  max-width: fit-content;
  min-width: 50vw;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 8px black;
}

.terminal-top {
  background-color: gray;
  color: black;
  height: 20px;
}

.terminal-background {
  background-color: black;
}

.terminal-contents {
  margin-left: 5px;
  margin-right: 10px;
}

.terminal:hover {
  box-shadow: 0px 0px 10px;
}

/* Styles for cursor slide-in. */
.right {
  animation: slide-in-right 2s ease-out;
}

@keyframes slide-in-right {
  0% {
    left: 50vw;
    opacity: .5;
    pointer-events: none;
  }
  100% {
    left: 0px;
    opacity: 1;
    pointer-events: none;
  }
}

.left {
  animation: slide-in-left 2s ease-out;
}

@keyframes slide-in-left {
  0% {
    right: 50vw;
    opacity: .5;
    pointer-events: none;
  }
  100% {
    right: 0px;
    opacity: 1;
    pointer-events: none;
  }
}

/* Styles for cursor animation. */
.cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  100%, 50% { opacity: 1; }
  49%, 0% { opacity: 0; }
}