<div class="terminal left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
      <pre class="text-art">
 _   _   _____   _       _       _____       _           _   _____   _____   _       ____    _
| | | | | ____| | |     | |     |  _  |     | |    _    | | |  _  | |  _  | | |     |  _ \  | |
| |_| | | |__   | |     | |     | | | |     | |   | |   | | | | | | | | | | | |     | | | | | |
|  _  | |  __|  | |     | |     | | | |     |  \_/   \_/  | | | | | | |_/ / | |     | | | | |_|
| | | | | |___  | |___  | |___  | |_| |  _  |    _   _    | | |_| | | /\ \  | |___  | |_| |  _
|_| |_| |_____| |_____| |_____| |_____| | |  \__/ \_/ \__/  |_____| |_| |_| |_____| |____/  |_|
                                        |/</pre><br>
    </div>
  </div>
</div>

<div class="terminal right">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
        My name is Evan Witthun, and this is my website.<br>
        I am a software engineering graduate from University of Wisconsin, La-Crosse.<br>
        This website is just here to be a hub for my hobby ideas and to act as a living resume.<br>
        You can see a bunch of things in the action bar at the top of the page.<br>
        If you're here because I linked this in a job application, thanks for being here!<br>
        You should definitely check out my resume.
        <div class="cursor">_</div>
    </div>
  </div>
</div>

<div class="terminal rounded left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
        This sight is built using Angular, which is probably overkill, but it makes life interesting.<br>
        My life, at least.
        Probably doesn't effect your life very much.<br>
        If you want to see the code for it go here.
        <div class="cursor">_</div>
    </div>
  </div>
</div>

<div class="terminal rounded right">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
        I have worked on several projects through my schooling,<br>
        two of which I plan on continuing in my free time after graduation.<br>
        You should check those out here.<br>
        <div class="cursor">_</div>
    </div>
  </div>
</div>


<div class="terminal rounded left">
  <div class="terminal-top rounded-top"></div>
  <div class="terminal-background rounded-bottom">
    <div class="terminal-contents">
        Places I am:<br>
        Github<br>
        Youtube<br>
    </div>
  </div>
</div>